{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="content-section">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="'border-bottom mb-4">Hello</legend>
            <h4>You just logged out</h4>
        </fieldset>
        <div class="form-grop">
            <button class="btn btn-cutline-info" type="'submit"><a href="{% url 'login'%}">Login</button>
        </div>
    </form>
</div>

{% endblock content %}
